
<!DOCTYPE HTML>
<html lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	  <title></title>
	</head>
	<body>
		<ul>
		{% for s in index%}
		<li>
			<table border="1">
				<tr>
					<td>ISBN</td>
					<td><a href="{{path('books_info',{'isbn':s.isbn})}}" >{{s.isbn}}</a></td>
				</tr>
			</table>
		</li>
		{%endfor%}
	</ul>
</body>
</html>