
<!DOCTYPE HTML>
<html lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	  <title></title>
	</head>
	<body>
		<ul>
		{% for s in bookindex%}
		<li>
			<table border="1">
				<tr>
					<td>ISBN</td>
					<td>{{s}}</td>
				</tr>
			</table>
		</li>
		{%endfor%}
	</ul>
</body>
</html>