
<!DOCTYPE HTML>
<html lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	  <title></title>
	</head>
	<body>
		<a href="{{path('enbaby_db_manager_index')}}">Return to index!</a>
		<br/>
		SeriesId:{{seriesId}} 
		{{ form(form) }}	
		{{updateSuccess}}
	</body>
</html>

